

.hero-image {
  background-image: url("CB.jpg");
  background-color: #cccccc;
  height: 85vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 110%;
  position: relative;

}

.hero-text {
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #D72638;
  border: 2px solid white;
}

.hero-text:hover{
  background-color: #F4F9E9;
 /* cursor: pointer;*/
}
